snippet cm "Comment Section"
/* ${0} */
endsnippet

snippet ct "cout"
std::cout << "${0:Description}" << std::endl;
endsnippet

snippet todo "TODO"
// TODO: <`date +%Y-%m-%d` `!v snips_author`>
endsnippet

